<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">Certifications</h2>
            <p class="lead fw-normal text-muted mb-5">Tagline goes here</p>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="https://storage.googleapis.com/ibuildwebs-public/skills/240px-HTML5_Badge.svg.png" alt="" />
                    <h5 class="fw-bolder">Web Design Professional</h5>
                    <div class="fst-italic text-muted">CIW Certified</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="https://storage.googleapis.com/ibuildwebs-public/skills/CSS3_logo.svg.png" alt="CSS3" />
                    <h5 class="fw-bolder">E-Commerce Specialist</h5>
                    <div class="fst-italic text-muted">CIW Certified</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-sm-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="https://storage.googleapis.com/ibuildwebs-public/skills/javascript.png" alt="Javascript" />
                    <h5 class="fw-bolder">Klaviyo Partner Certification</h5>
                    <div class="fst-italic text-muted">Klaviyo</div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                    <h5 class="fw-bolder">Email Marketing</h5>
                    <div class="fst-italic text-muted">HubSpot</div>
                </div>
            </div>
        </div>
    </div>
</section>