<!-- Recent/Featured Projects -->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-xs-12">
                <h2 class="fw-bolder section-header" data-aos="fade-up">Featured Projects</h2>
                <hr>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <!-- Parking Mate -->
        <div class="row gx-5 align-items-center featured-project">
            <div class="col-lg-6" data-aos="fade-right"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://storage.googleapis.com/ibuildwebs-public/nodes/parking-mate/parking-mate-cross-device-1920x1075-ibws-logo-bg.webp" alt="Parking Mate" /></div><!-- /.col -->
            <div class="col-lg-6" data-aos="fade-left">
                <h3>WordPress Wesbite, SEO, and Paid Ads Management</h3>
                <p class="lead fw-normal text-muted mb-0">The redesign and SEO overhaul of the website focused on creating a user-friendly, visually engaging website that enhanced the user experience to increase conversions.</p>
                <a class="btn btn-lg btn-primary" href="/portfolio-parking-mate" data-aos="fade-right" style="margin-top:20px;">See More</a>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <!-- Smart for Life -->
        <div class="row gx-5 align-items-center featured-project">
            <div class="col-lg-6" data-aos="fade-right"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://storage.googleapis.com/ibuildwebs-public/nodes/sfl-us/sfl-us-cross-device-1920x1075-ibws-logo-bg.webp" alt="Smart for Life" /></div><!-- /.col -->
            <div class="col-lg-6" data-aos="fade-left">
                <h3>Shopify Ecommerce Website, Email/Text Marketing, SEO, and Paid Ads Management</h3>
                <p class="lead fw-normal text-muted mb-0">A fast, sleek, and beautifully designed eCommerce website tailored for Smart for Life. This custom theme was created using Shopify's new OS 2.0 theme architecture using Dawn as a starting point and modified with custom templates, sections, and metadata to duplicate static mock ups designed exclusively for Smart for Life. Theme syncs with Shopify via GitHub for version control capabilities.</p>
                <a class="btn btn-lg btn-primary" href="/portfolio-sfl-us" data-aos="fade-right" style="margin-top:20px;">See More</a>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <!-- Dizzy Magic-->
        <div class="row gx-5 align-items-center featured-project">
            <div class="col-lg-6" data-aos="fade-right"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://storage.googleapis.com/ibuildwebs-public/nodes/dizzy-magic/dizzy-cross-device-1920x1075-ibws-logo-bg.webp" alt="Dizzy Magic" /></div><!-- /.col -->
            <div class="col-lg-6" data-aos="fade-left">
                <h3>WordPress with WooCommerce Wesbite and SEO</h3>
                <p class="lead fw-normal text-muted mb-0">The redesign and SEO overhaul for Dizzy Magic proved highly successful, transforming the website into a visually engaging, user-friendly, and performance-optimized website.</p>
                <a class="btn btn-lg btn-primary" href="/portfolio-dizzy-magic" data-aos="fade-right" style="margin-top:20px;">See More</a>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <!-- 5 Stones Lawncare -->
        <div class="row gx-5 align-items-center featured-project">
            <div class="col-lg-6" data-aos="fade-right"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://storage.googleapis.com/ibuildwebs-public/nodes/five-stones-lawncare/5-stones-cross-device-1920x1075-ibws-logo-bg.webp" alt="5 Stones Lawncare" /></div><!-- /.col -->
            <div class="col-lg-6" data-aos="fade-left">
                <h3>WordPress Wesbite and SEO</h3>
                <p class="lead fw-normal text-muted mb-0">5 Stones Lawncare partnered with I Build Web Solutions to launch a professional, faith-based website that reflects their commitment to excellence in lawncare across Ocala and Gainesville, FL. From custom web design to ongoing SEO strategy, we’ve helped position 5 Stones as a trusted local service provider while enhancing their visibility and reach online.</p>
                <a class="btn btn-lg btn-primary" href="/portfolio-five-stones-lawncare" data-aos="fade-right" style="margin-top:20px;">See More</a>
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.container -->
</section>