<!-- Recent/Featured Project -->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-xs-12">
                <h2 class="fw-bolder section-header" data-aos="fade-up">Recent Project</h2>
                <hr>
            </div>
            <div class="col-lg-6" data-aos="fade-right"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://storage.googleapis.com/ibuildwebs-public/nodes/sfl-us/Home-Smart-for-Life-1062x720.webp" alt="..." /></div>
            <div class="col-lg-6" data-aos="fade-left">
                <h3>Ecommerce Wesbite</h3>
                <p class="lead fw-normal text-muted mb-0">A fast, sleek, and beautifully designed eCommerce website tailored for Smart for Life. This custom theme was created using Shopify's new OS 2.0 theme architecture using Dawn as a starting point and modified with custom templates, sections, and metadata to duplicate static mock ups designed exclusively for Smart for Life. Theme syncs with Shopify via GitHub for version control capabilities.</p>
            </div>
        </div>
    </div>
</section>