<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="/">iBuildWebs v2</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/skills">Skills</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Portfolio</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                        <li><a class="dropdown-item" href="/portfolio">Portfolio Overview</a></li>
                        <li><a class="dropdown-item" href="/portfolio-sfl-us">Smart for Life US Ecommerce Website</a></li>
                        <li><a class="dropdown-item" href="/portfolio-sfl-ca">Smart for Life CA Ecommerce Website</a></li>
                        <li><a class="dropdown-item" href="/portfolio-sfl-docs">Smart for Life Website Documentation</a></li>
                        <li><a class="dropdown-item" href="/portfolio-sfl-ice-cream">Ice Cream Protein Bars Landing Page</a></li>
                        <li><a class="dropdown-item" href="/portfolio-web-solutions">I Build Web Solutions</a></li>
                        <li><a class="dropdown-item" href="/portfolio-tiof">The Institute of F.I.L.M.S.</a></li>
                        <li><a class="dropdown-item" href="/portfolio-tiof-lp">T.I.O.F. Landing Pages</a></li>
                        <li><a class="dropdown-item" href="/portfolio-ibuildwebs-v1">I Build Webs v1</a></li>
                        <li><a class="dropdown-item" href="/portfolio-eggshub">Eggs Hub</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                        <li><a class="dropdown-item" href="blog-home.html">Blog Home</a></li>
                        <li><a class="dropdown-item" href="blog-post.html">Blog Post</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>