<section class="bg-light py-5">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder">My Skills</h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <!-- Web Stack -->
            <div class="col-lg-4">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold">Stack</div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-star-fill text-warning"></i>
                                HTML5
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-star-fill text-warning"></i>
                                CSS3
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-star-fill text-warning"></i>
                                Javascript
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-star-fill text-warning"></i>
                                Jquery
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                NodeJS
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                ExpressJS
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                PHP
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                MongoDB
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                MySQL
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-star-fill text-warning"></i>
                                Liquid
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                EJS
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Bootstrap
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Markdown
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Web Tools -->
            <div class="col-lg-4">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold">
                            Tools
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                GIT
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                NPM
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Gulp
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                LESS
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                SASS
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Zapier
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Microsoft Office
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Google Workspace
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Asana
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                JIRA
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Airtable
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Web Management -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold">Web Management</div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-star-fill text-warning"></i>
                                Shopify
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                WordPress
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Ghost
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Cloudflare
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Klaviyo
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                MailChimp
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Emotive
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>