<h2 style="font-size:1.25rem;margin-top:30px;"><i class="bi bi-star-fill text-warning"></i> Expert <> <i class="bi bi-check text-primary"></i> Proficient</h2>
<h3 style="font-size:1rem;""><strong>BOLD</strong> = Used for this portfolio website</h3>