<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head.ejs %>
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <% include partials/nav-main.ejs %>
            <!-- Header-->
            <header class="py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3" data-aos="fade-down">About A Detailed-Oriented and Goal-Driven Web Developer</h1>
                                <p class="lead fw-normal text-muted mb-4" data-aos="fade-right">I am a web developer with a passion for building beautiful, functional websites. I'm motivated by the satisfaction of creating something that's both functional and beautiful, and I work to create every website with attention to detail.</p>
                                <p class="lead fw-normal text-muted mb-4" data-aos="fade-left">I'm a team player who is always looking for ways to improve my skills and help others do the same. My strong communication skills make me an asset on any project, because I'm able to clearly explain what needs to be done and how we'll get there.</p>
                                <a class="btn btn-primary btn-lg" href="#scroll-target" data-aos="fade-down">Read my story</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About Section My Experience-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6" data-aos="fade-right"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://storage.googleapis.com/ibuildwebs-public/general/working-600x400.webp" alt="People coding together on computer" /></div>
                        <div class="col-lg-6" data-aos="fade-down">
                            <h2 class="fw-bolder">My Experience</h2>
                            <p class="lead fw-normal text-muted mb-0">Ten years experience primarily in web development, design, and management. Also have experience managing email marketing, affiliate marketing, and paid media campaigns.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About Section My Education-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last" data-aos="fade-left"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://storage.googleapis.com/ibuildwebs-public/general/code-02-600x400.webp" alt="Code" /></div>
                        <div class="col-lg-6" data-aos="fade-down">
                            <h2 class="fw-bolder">My Education</h2>
                            <p class="lead fw-normal text-muted mb-0">Associate in Science in Web and Graphic Design from Florida Technical College in 2014</p>
                            <p class="lead fw-normal text-muted mb-0">Currently studying at Valencia College in pursuit of a Bachelor's degree in Computer Science</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <% include partials/footer %>
    <% include partials/footer-scripts %>
    </body>
</html>
