<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head.ejs %>
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <% include partials/nav-main.ejs %>
            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5">
                    <div class="rounded-3 py-5 px-4 px-md-5 mb-5">
                        <div class="text-center mb-5">
                            <h1 class="fw-bolder" style="margin-bottom: 50px;"><%= title %></h1>
                            <p class="lead fw-normal text-muted mb-4">Do you need assistance accessing something on our website? Email me at contact@ibuildwebsolutions.com.</p>
                            <p class="lead fw-normal text-muted mb-4">I am committed to accessibility. It is my policy to ensure that everyone, including people with disabilities, have full and equal access to our digital offerings.</p>
                            <p class="lead fw-normal text-muted mb-4">To ensure accessibility, I have taken the following actions:</p>
                            <p class="lead fw-normal text-muted mb-4"><em>I have adopted a web accessibility policy.</em></p>
                            <p class="lead fw-normal text-muted mb-4"><em>I have initiated training on web accessibility.</em></p>
                            <p class="lead fw-normal text-muted mb-4"><em>I have appointed an internal web accessibility committee.</em></p>
                            <p class="lead fw-normal text-muted mb-4"><em>I continuously conduct audits and user testing for web accessibility.</em></p>
                            <p class="lead fw-normal text-muted mb-4">To make our digital offerings accessible, www.ibuildwebs.online conforms to the following accessibility standards: Web Content Accessibility Guidelines (WCAG) 2.0 AA, PDF/Universal Accessibility (PDF/UA).</p>
                            <p class="lead fw-normal text-muted mb-4">As part of my policy, I am committed to maintaining accessibility. I engage in 24/7 website monitoring using automated scans, conduct weekly web accessibility audits, and undergo continuous web accessibility user testing to ensure our digital offerings stay up to date with the latest standards and best practices in accessibility.</p>
                            <p class="lead fw-normal text-muted mb-4">Through my genuine and good faith commitment and devotion to accessibility, I believe I not only meet, but exceed the digital accessibility requirements imposed by Title III of the Americans with Disabilities Act (ADA).</p>
                            <p class="lead fw-normal text-muted mb-4">I am committed to accessibility and I am always seeking to improve. If you know of a way I can improve, I’d love to hear more. You can email me at contact@ibuildwebsolutions.com.</p>
                            <p class="lead fw-normal text-muted mb-4">For more information on web accessibility and legal requirements, here are helpful resources:</p>
                            <p class="lead fw-normal text-muted mb-4"><em><a target="_blank" href="https://www.ada.gov/">ADA.gov</a></em></p>
                            <p class="lead fw-normal text-muted mb-4"><em><a target="_blank" href="https://www.section508.gov/">Section508.gov</a></em></p>
                            <p class="lead fw-normal text-muted mb-4"><em><a target="_blank" href="https://www.section508.gov/">W3.org/WAI</a></em></p>
                        </div>
                    </div>
                    
                </div>
            </section>
        </main>
         <% include partials/footer %>
        <% include partials/footer-scripts %>
    </body>
</html>
