<!DOCTYPE html>
<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
        <% include partials/nav-main.ejs %>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center">
                    <div class="col-lg-8 col-xl-7 col-xxl-6">
                        <div class="my-5 text-center text-xl-start">
                            <h1 class="display-5 fw-bolder text-white mb-2" data-aos="zoom-in-down">iBuildWebs v2</h1>
                            <p class="lead fw-normal text-white-50 mb-4" data-aos="zoom-in-up">iBuildWebs is my porfolio showcasing my <strong>web development and digital marketing management skills.</strong></p>
                            <p class="lead fw-normal text-white-50 mb-4" data-aos="zoom-in-up">The web development projects display the use of different technologies and languages, including <strong>HTML, CSS, JavaScript, NodeJS, PHP, Shopify, and WordPress</strong>.
                            <p class="lead fw-normal text-white-50 mb-4">Additionally, the portfolio showcases the ability to develop and execute effective digital marketing strategies, including <strong>SEO, PPC, social media marketing, and email/text marketing.</strong></p>
                            <p class="lead fw-normal text-white-50 mb-4" data-aos="zoom-in-up">The last update on iBuildWebs v1 was in 2018 and since most of the tools and frameworks used were outdated, I determined it would be easier to start fresh instead of rebuilding all of the taskrunners and frameworks. <a target="_blank" href="http://ibuildweb.site/">See iBuildWebs v1 here</a></p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/portfolio" data-aos="fade-right">See Portfolio</a>
                                <a class="btn btn-outline-light btn-lg px-4 me-sm-3" href="/skills" data-aos="fade-left">See Skills</a>
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/contact" data-aos="fade-right">Contact Me</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                        <video width="100%" autoplay loop muted data-aos="fade-up">
                            <source type= "video/mp4" src="https://storage.googleapis.com/ibuildwebs-public/AdobeStock_228101045.mov">
                            <img src="https://storage.googleapis.com/ibuildwebs-public/general/code.webp" title="Your browser does not support the video tag.">"
                        </video>
                    </div>
                </div>
            </div>
        </header>
        <% include partials/core-competencies %>
        <% include partials/featured-project %>
        <% include partials/contact-cta %>
    </main>
    <% include partials/footer %>
    <% include partials/footer-scripts %>
</body>
</html>
