<!DOCTYPE html>
<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
        <% include partials/nav-main.ejs %>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center">
                    <div class="col-lg-8 col-xl-7 col-xxl-6">
                        <div class="my-5 text-center text-xl-start">
                            <h1 class="display-5 fw-bolder text-white mb-2">iBuildWebs v2</h1>
                            <p class="lead fw-normal text-white-50 mb-4">Portfolio for web developer and digital marketing strategist.</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/portfolio">See Portfolio</a>
                                <a class="btn btn-outline-light btn-lg px-4" href="/skills">See Skills</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                        <video width="100%" autoplay loop muted>
                            <source type= "video/mp4" src="https://storage.googleapis.com/ibuildwebs-public/AdobeStock_228101045.mov">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </header>
        <% include partials/core-competencies %>
        <% include partials/testimonial %>
        <% include partials/blog-preview %>
    </main>
    <% include partials/footer %>
    <% include partials/footer-scripts %>
</body>
</html>
