<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head.ejs %>
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <% include partials/nav-main.ejs %>
            
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder" data-aos="fade-up">My Work</h1>
                    </div>
                </div><!-- /.container -->

                <!-- I Build Web Solutions -->
                <div class="container px-5 my-5 portfolioWrapper">
                    <div class="text-center mb-5">
                        <h2 class="lead fw-normal text-muted mb-0" data-aos="fade-left">I Build Web Solutions, LLC</h2>
                        <h3 data-aos="fade-right">Founder</h3>
                        <h4 data-aos="fade-left">06/2016 - present</h4>
                    </div>
                    <div class="row gx-5">
                        <!-- Turada Hardwood Shingles -->
                        <div class="col-lg-6" data-aos="fade-up">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="https://storage.googleapis.com/ibuildwebs-public/nodes/tropical-timber/turada/Home-Turada-Hardwood-Shingles-1062x720.webp" alt="Turada Hardwood Shingles" />
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="/portfolio-turada">Turada Hardwood Shingles</a>
                            </div>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/portfolio-turada">Learn More</a>
                                <a class="btn btn-outline-primary btn-lg px-4" target="_blank" href="https://turadashingles.com/">See Website</a>
                            </div>
                        </div>
                        <!-- Smithies Dream Vacations -->
                        <div class="col-lg-6" data-aos="fade-up">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="https://storage.googleapis.com/ibuildwebs-public/nodes/sdv/sdv-home-desktop-1062x720.webp" alt="Smithies Dream Vacations" />
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="/portfolio-smithies-dream-vacations">Smithies Dream Vacations</a>
                            </div>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/portfolio-smithies-dream-vacations">Learn More</a>
                                <a class="btn btn-outline-primary btn-lg px-4" target="_blank" href="https://smithiesdreamvacations.net/">See Website</a>
                            </div>
                        </div>
                        <!-- Nani Sweets -->
                        <div class="col-lg-6" data-aos="fade-up">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="https://storage.googleapis.com/ibuildwebs-public/nodes/nani-sweets/Nani-Sweets-1062x720.webp" alt="Nani Sweets" />
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="/portfolio-nani-sweets">Nani Sweets</a>
                            </div>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/portfolio-nani-sweets">Learn More</a>
                                <a class="btn btn-outline-primary btn-lg px-4" target="_blank" href="https://nanisweets.com">See Website</a>
                            </div>
                        </div>
                        <!-- I Build Web Solutions -->
                        <div class="col-lg-6" data-aos="fade-up">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="https://storage.googleapis.com/ibuildwebs-public/nodes/ibws/iBuildWeb-Solutions-Web-Design-and-Development-Digital-Marketing-eCommerce-Analytics-Social-Media-and-More-1062x720.webp" alt="I Build Web Solutions" />
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="/portfolio-web-solutions">I Build Web Solutions</a>
                            </div>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/portfolio-web-solutions">Learn More</a>
                                <a class="btn btn-outline-primary btn-lg px-4" target="_blank" href="https://ibuildweb.solutions">See Website</a>
                            </div>
                        </div>
                        <!-- The Institute of F.I.L.M.S. -->
                        <div class="col-lg-6" data-aos="fade-up">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="https://storage.googleapis.com/ibuildwebs-public/nodes/tiof/About-us-1062x720.webp" alt="The Institute of F.I.L.M.S." />
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href/portfolio-tiof">The Institute of F.I.L.M.S.</a>
                            </div>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/portfolio-tiof">Learn More</a>
                                <a class="btn btn-outline-primary btn-lg px-4" target="_blank" href="https://theinstituteoffilms.org/home/">See Website</a>
                            </div>
                        </div>
                        <!-- I Build Webs v1 -->
                        <div class="col-lg-6" data-aos="fade-up">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="https://storage.googleapis.com/ibuildwebs-public/nodes/web-v1/iBuildWeb-Site-Agile-JavaScript-PHP-Node-Web-Developer-1081x720.webp" alt="iBuildWebs v1" />
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="/portfolio-ibuildwebs-v1">iBuildWebs v1</a>
                            </div>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/portfolio-ibuildwebs-v1">Learn More</a>
                                <a class="btn btn-outline-primary btn-lg px-4" target="_blank" href="http://ibuildweb.site/">See Website</a>
                            </div>
                        </div>
                        <!-- Eggshub -->
                        <div class="col-lg-6" data-aos="fade-up">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="https://storage.googleapis.com/ibuildwebs-public/nodes/eggs/Eggs-Hub-%E2%80%93-Eggs-and-such-1062x720.webp" alt="Eggshub" />
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="/portfolio-eggshub">EggsHub</a>
                            </div>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/portfolio-eggshub">Learn More</a>
                                <a class="btn btn-outline-primary btn-lg px-4" target="_blank" href="https://www.eggshub.com/">See Website</a>
                            </div>
                        </div>
                        <!-- Vaca Exclusive -->
                        <div class="col-lg-6" data-aos="fade-up">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="https://storage.googleapis.com/ibuildwebs-public/nodes/vaca/vacaHome-01-Lg.webp" alt="Vaca Exclusive" />
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="/portfolio-vaca">Vaca Exclusive</a>
                            </div>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/portfolio-vaca">Learn More</a>
                            </div>
                        </div>
                        <!-- JK Television -->
                        <div class="col-lg-6" data-aos="fade-up">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="https://storage.googleapis.com/ibuildwebs-public/nodes/jkt/jkHome-01-Lg.webp" alt="JK Television" />
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="/portfolio-jkt">JK Television</a>
                            </div>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/portfolio-jkt">Learn More</a>
                            </div>
                        </div>
                        <!-- T.I.O.F. Landing Pages-->
                        <div class="col-lg-6" data-aos="fade-up">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="https://storage.googleapis.com/ibuildwebs-public/nodes/tiof-lp/The-Institute-of-F-I-L-M-S-A-Higher-Education-Non-Profit.webp" alt="T.I.O.F Landing Pages" />
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="/portfolio-tiof-lp">T.I.O.F Landing Pages</a>
                            </div>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/portfolio-tiof-lp">Learn More</a>
                                <a class="btn btn-outline-primary btn-lg px-4" target="_blank" href="https://learn.theinstituteoffilms.org/1/">See Website</a>
                            </div>
                        </div>
                    </div>
                </div><!-- /.container -->

                <!-- DSO -->
                <div class="container px-5 my-5 portfolioWrapper">
                    <div class="text-center mb-5">
                        <h2 class="lead fw-normal text-muted mb-0" data-aos="fade-left">Doctors Scientific Organica, LLC</h2>
                        <h3 data-aos="fade-right">I.T. Manager</h3>
                        <h4 data-aos="fade-left">05/2018 - present</h4>
                    </div>
                    <div class="row gx-5">
                        <!-- Smart for Life U.S. -->
                        <div class="col-lg-6" data-aos="fade-up">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="https://storage.googleapis.com/ibuildwebs-public/nodes/sfl-us/Home-Smart-for-Life-1062x720.webp" alt="Smart for Life U.S. Ecommerce Website" />
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="/portfolio-sfl-us">Smart for Life U.S. Ecommerce Website</a>
                            </div>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/portfolio-sfl-us">Learn More</a>
                                <a class="btn btn-outline-primary btn-lg px-4" target="_blank" href="https://www.smartforlife.com">See Website</a>
                            </div>
                        </div>
                        <!-- Smart for Life Web Docs
                        <div class="col-lg-6" data-aos="fade-up">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="https://storage.googleapis.com/ibuildwebs-public/nodes/sfl-docs/Smart-for-Life-Custom-Shopify-Theme-Documentation-1062x720.webp" alt="SFL Website Documentation" />
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="/portfolio-sfl-docs">SFL Website Documentation</a>
                            </div>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/portfolio-sfl-docs">Learn More</a>
                                <a class="btn btn-outline-primary btn-lg px-4" target="_blank" href="http://www.smartforlife.org">See Website</a>
                            </div>
                        </div>-->
                        <!-- Smart for Life Canada -->
                        <div class="col-lg-6" data-aos="fade-up">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="https://storage.googleapis.com/ibuildwebs-public/nodes/sfl-ca/Smart-for-Life-Canada-%E2%80%93-Cookie-Diet-CA-1062x720.webp" alt="Smart for Life CA Ecommerce Website" />
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="/portfolio-sfl-ca">Smart for Life CA Ecommerce Website</a>
                            </div>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/portfolio-sfl-ca">Learn More</a>
                                <a class="btn btn-outline-primary btn-lg px-4" target="_blank" href="https://www.smartforlife.ca">See Website</a>
                            </div>
                        </div>
                        <!-- Smart for Life Ice Cream Protein Bars -->
                        <div class="col-lg-6" data-aos="fade-up">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="https://storage.googleapis.com/ibuildwebs-public/nodes/ice-cream/Smart-for-Life-Ice-Cream-Protein-Bar.webp" alt="Smart for Life CA Ecommerce Website" />
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="/portfolio-sfl-ice-cream">Smart for Life Ice Cream Protein Bars</a>
                            </div>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/portfolio-sfl-ice-cream">Learn More</a>
                                <a class="btn btn-outline-primary btn-lg px-4" target="_blank" href="https://icecreamproteinbars.net/">See Website</a>
                            </div>
                        </div>
                    </div>
                </div><!-- /.container -->

            </section>
            <% include partials/contact-cta %>
        </main>
        <% include partials/footer %>
        <% include partials/footer-scripts %>
    </body>
</html>
