<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head.ejs %>
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <% include partials/nav-main.ejs %>
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-6">
                            <div class="text-center mb-5">
                                <h1 class="fw-bolder">The Institute of F.I.L.M.S. Website</h1>
                                <p class="lead fw-normal text-muted mb-0">Developed new website for institution of higher learning. Website integrates with payment processer, appointment scheduler, online application, and live chat. Backend processes were setup to automate lead notifications for sales reps.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-12"><img class="img-fluid rounded-3 mb-5" src="https://storage.googleapis.com/ibuildwebs-public/nodes/tiof-all-devices-final-v1-1300x752.webp" alt="The Institute of F.I.M.S." /></div>
                        <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
                        <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-6">
                            <div class="text-center mb-5">
                                <p class="lead fw-normal text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam deserunt architecto enim eos accusantium fugit recusandae illo iste dignissimos possimus facere ducimus odit voluptatibus exercitationem, ex laudantium illum voluptatum corporis.</p>
                                <a class="text-decoration-none" target="_blank" href="https://theinstituteoffilms.org/home/">
                                    View website
                                    <i class="bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <% include partials/footer %>
        <% include partials/footer-scripts %>
    </body>
</html>
