<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head.ejs %>
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <% include partials/nav-main.ejs %>
            
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">My Work</h1>
                    </div>
                </div><!-- /.container -->

                <!-- DSO -->
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h2 class="lead fw-normal text-muted mb-0">Doctors Scientific Organica, LLC</h2>
                        <h3>I.T. Manager</h3>
                        <h4>05/2018 - present</h4>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-6">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="Smart for Life U.S. Ecommerce Website" />
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="/portfolio-sfl-us">Smart for Life U.S. Ecommerce Website</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Smart for Life CA Ecommerce Website</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mb-5 mb-lg-0">
                                <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">SFL Website Documentation</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative">
                                <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Ice Cream Protein Bars Landing Page</a>
                            </div>
                        </div>
                    </div>
                </div><!-- /.container -->

                <!-- DSO -->
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h2 class="lead fw-normal text-muted mb-0">I Build Web Solutions, LLC</h2>
                        <h3>Founder</h3>
                        <h4>06/2016 - present</h4>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-6">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">I Build Web Solutions</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="https://storage.googleapis.com/ibuildwebs-public/nodes/tiof-all-devices-final-v1-1300x752.webp" alt="The Institute of F.I.L.M.S." />
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">The Institute of F.I.L.M.S.</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mb-5 mb-lg-0">
                                <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">iBuildWebs v1</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative">
                                <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">EggsHub</a>
                            </div>
                        </div>
                    </div>
                </div><!-- /.container -->
            </section>
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                    <a class="btn btn-lg btn-primary" href="#!">Contact us</a>
                </div>
            </section>
        </main>
        <% include partials/footer %>
        <% include partials/footer-scripts %>
    </body>
</html>
