<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head.ejs %>
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <% include partials/nav-main.ejs %>
            <% include partials/skills.ejs %>
            <% include partials/contact-cta %>
        </main>
        <% include partials/footer %>
    <% include partials/footer-scripts %>
    </body>
</html>
