<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head.ejs %>
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <% include partials/nav-main.ejs %>
            <section class="bg-light py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder" data-aos="fade-up">My Skills</h1>
                        <% include partials/skills-legend.ejs %>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <!-- Stack -->
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="card mb-5 mb-xl-0">
                                <div class="card-body">
                                    <div class="small text-uppercase fw-bold mb-5">Stack</div>
                                    <ul class="list-unstyled mb-4">
                                        <% include partials/skills/ajax.ejs %>
                                        <% include partials/skills/angular.ejs %>
                                        <% include partials/skills/bootstrap.ejs %>
                                        <% include partials/skills/css3.ejs %>
                                        <% include partials/skills/ejs.ejs %>
                                        <% include partials/skills/express.ejs %>
                                        <% include partials/skills/html5.ejs %>
                                        <% include partials/skills/javascript.ejs %>
                                        <% include partials/skills/jquery.ejs s%>
                                        <% include partials/skills/json.ejs %>
                                        <% include partials/skills/liquid.ejs %>
                                        <% include partials/skills/markdown.ejs %>
                                        <% include partials/skills/mongodb.ejs %>
                                        <% include partials/skills/mysql.ejs %>
                                        <% include partials/skills/nodejs.ejs %>
                                        <% include partials/skills/php.ejs %>
                                        <% include partials/skills/w3js.ejs %>                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Tools -->
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="card mb-5 mb-xl-0">
                                <div class="card-body">
                                    <div class="small text-uppercase fw-bold mb-5">Tools</div>
                                    <ul class="list-unstyled mb-4">
                                        <% include partials/skills/airtable.ejs %>
                                        <% include partials/skills/asana.ejs %>
                                        <% include partials/skills/babel.ejs %>
                                        <% include partials/skills/bitbucket.ejs %>
                                        <% include partials/skills/figma.ejs %>
                                        <% include partials/skills/git.ejs %>
                                        <% include partials/skills/github.ejs %>
                                        <% include partials/skills/google-workspace.ejs %>
                                        <% include partials/skills/gulp.ejs %>
                                        <% include partials/skills/jira.ejs %>
                                        <% include partials/skills/less.ejs %>
                                        <% include partials/skills/office.ejs %>
                                        <% include partials/skills/npm.ejs %>
                                        <% include partials/skills/photoshop.ejs %>
                                        <% include partials/skills/sass.ejs %>
                                        <% include partials/skills/zapier.ejs %>                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Web Management -->
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="small text-uppercase fw-bold mb-5">Web Management</div>
                                    <ul class="list-unstyled mb-4">
                                        <% include partials/skills/cloudflare.ejs %>
                                        <% include partials/skills/elementor.ejs %>
                                        <% include partials/skills/ghost.ejs %>
                                        <% include partials/skills/ga.ejs %>
                                        <% include partials/skills/google-search-console.ejs %>
                                        <% include partials/skills/gtm.ejs %>
                                        <% include partials/skills/hostinger-website-builder.ejs %>
                                        <% include partials/skills/hotjar.ejs %>
                                        <% include partials/skills/hubspot.ejs %>
                                        <% include partials/skills/lucky-orange.ejs %>
                                        <% include partials/skills/clarity.ejs %>
                                        <% include partials/skills/shopify.ejs %>
                                        <% include partials/skills/square.ejs %>
                                        <% include partials/skills/squarespace.ejs %>
                                        <% include partials/skills/webflow.ejs %>
                                        <% include partials/skills/wp.ejs %>
                                        <% include partials/skills/woocommerce.ejs %>                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Digital Marketing -->
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="small text-uppercase fw-bold mb-5">Digital Marketing</div>
                                    <ul class="list-unstyled mb-4">
                                        <% include partials/skills/addshoppers.ejs %>
                                        <% include partials/skills/adroll.ejs %>
                                        <% include partials/skills/attentive.ejs %>
                                        <% include partials/skills/bing-ads.ejs %>
                                        <% include partials/skills/emotive.ejs %>
                                        <% include partials/skills/google-ads.ejs %>
                                        <% include partials/skills/high-level.ejs %>
                                        <% include partials/skills/klaviyo.ejs %>
                                        <% include partials/skills/klickly.ejs %>
                                        <% include partials/skills/lc.ejs %>
                                        <% include partials/skills/mailchimp.ejs %>
                                        <% include partials/skills/meta-ads.ejs %>
                                        <% include partials/skills/meta-shop.ejs %>
                                        <% include partials/skills/rankmath.ejs %>
                                        <% include partials/skills/rollworks.ejs %>
                                        <% include partials/skills/shareasale.ejs %>
                                        <% include partials/skills/shop-app.ejs %>
                                        <% include partials/skills/tik-tok-ads.ejs %>
                                        <% include partials/skills/tw.ejs %>                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- External Integrations -->
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="small text-uppercase fw-bold mb-5">Other External Integrations</div>
                                    <ul class="list-unstyled mb-4">
                                        <% include partials/skills/calendly.ejs %>
                                        <% include partials/skills/deliverr.ejs %>
                                        <% include partials/skills/jotform.ejs %>
                                        <% include partials/skills/loyalty-lion.ejs %>
                                        <% include partials/skills/ocu.ejs %>
                                        <% include partials/skills/recharge.ejs %>
                                        <% include partials/skills/tawk.ejs %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <% include partials/contact-cta %>
        </main>
        <% include partials/footer %>
    <% include partials/footer-scripts %>
    </body>
</html>
