<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head.ejs %>
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <% include partials/nav-main.ejs %>
            <!-- Header and Reviews Widget-->
            <header class="py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3" data-aos="fade-down">Testimonials</h1>
                                <!-- High Level Reviews Widget -->
                                <script type='text/javascript' src='https://reputationhub.site/reputation/assets/review-widget.js'></script><iframe class='lc_reviews_widget' src='https://reputationhub.site/reputation/widgets/review_widget/9zXTF9nDKEUtaRyAx4sr' frameborder='0' scrolling='no' style='min-width: 100%; width: 100%;'></iframe> 
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xs-6 col-lg-4 mb-2">
                            <!-- Bark Reviews Widget -->
                            <a href='https://www.bark.com/en/us/company/i-build-web-solutions/Ze8al/' target='_blank' class='bark-widget' data-type='reviews' data-id='Ze8al' data-image='medium-navy' data-version='3.0'>I Build Web Solutions</a>       <script type='text/javascript'  src='https://www.bark.com/assets/js/frontend-v2/widgets-v2.24a197bed6.v2.js' defer></script>
                        </div>
                        <div class="col-xs-6 col-lg-4 mb-2">
                            <!-- DesignRush Reviews Widget -->
                            <script type="text/javascript" src="https://www.designrush.com/topbest/js/widgets/agency-reviews.js"></script><div data-designrush-widget data-agency-id="72743" data-style="dark" aria-label="DesignRush agency reviews section"></div><noscript><a href="https://www.designrush.com/agency/profile/i-build-web-solutions#reviews" target="_blank" aria-label="Visit I Build Web Solutions reviews on DesignRush">REVIEW US ON DESIGNRUSH</a></noscript>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Camvas Rebel -->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6" data-aos="fade-right"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://storage.googleapis.com/ibuildwebs-public/general/orlando-suit-cropped-square-682x682.webp" alt="Orlando Morales" /></div>
                        <div class="col-lg-6" data-aos="fade-down">
                            <h2 class="fw-bolder">Featured Interview on <em>CanvasRebel</em></h2>
                            <p class="lead fw-normal text-muted mb-0">Orlando Morales, founder of <em>I Build Web Solutions</em>, is on a mission to level the digital playing field for small businesses. After seeing firsthand how larger companies dominated online marketing, he set out to offer affordable, personalized web and marketing services that empower entrepreneurs. With a focus on transparency, education, and real results, Orlando’s story is one of passion, purpose, and helping others grow—one website at a time.</p>
                            <a class="btn btn-primary btn-lg" href="https://canvasrebel.com/meet-orlando-morales/" data-aos="fade-down" target="_blank" id="btn-canvas">Read Full Interview</a>
                        </div>
                    </div>
                </div>
            </section>
            <!--  LinkedIn Recommendations -->
            <section class="py-5 recommendations">
                <div class="container px-5 my-5">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="text-center my-5">
                                <h2 class="fw-bolder" data-aos="fade-down">LinkedIn Recommendations</h2>

                                <!-- Masiel -->
                                <div class="card" data-aos="fade-left">
                                    <div class="card-header justify-content-center">
                                        <img src="https://storage.googleapis.com/ibuildwebs-public/general/linkedin/linkedin-masiel-rua.jpg" class="rounded-circle" alt="Masiel Rua">
                                        <h3>Masiel Rua</h3>
                                        <h4>Digital Marketing Specialist</h4>
                                        <p><em>August 30, 2024, Masiel worked with Orlando on the same team</em></p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">I worked with Orlando at Smart for Life. He consistently demonstrates remarkable intelligence and leadership in every project he undertakes. Orlando is not only quick to provide assistance and support, but he also excels in fostering a collaborative and productive work environment. His proactive approach and dedication make him an invaluable asset to any team. Working with Orlando is a privilege, and his contributions significantly enhance the overall success of our projects.</p>
                                    </div>
                                </div>

                                <!-- Stephanie -->
                                <div class="card" data-aos="fade-right">
                                    <div class="card-header justify-content-center">
                                        <img src="https://storage.googleapis.com/ibuildwebs-public/general/linkedin/linkedin-stephanie-ruiz.jpg" class="rounded-circle" alt="Stephanie Ruiz">
                                        <h3>Stephanie Ruiz</h3>
                                        <h4>Creative Director</h4>
                                        <p><em>May 17, 2023, Stephanie was senior to Orlando but didn't manage Orlando directly</em></p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">I had the pleasure of working closely with Orlando for a few years on various projects, he is always open to feedback, eager to learn, and quick to adapt to evolving market trends and responsibilities. His dedication, attention to detail, and ability to meet deadlines made him a valuable asset to our team. I highly recommend Orlando I believe he will excel in any role he takes.</p>
                                    </div>
                                </div>

                                <!-- Chloe -->
                                <div class="card" data-aos="fade-left">
                                    <div class="card-header justify-content-center">
                                        <img src="https://storage.googleapis.com/ibuildwebs-public/general/linkedin/linkedin-chloe-meiring.jpg" class="rounded-circle" alt="Chloé Meiring">
                                        <h3>Chloé Meiring</h3>
                                        <h4>Graphic Designer</h4>
                                        <p><em>May 8, 2023, Chloé worked with Orlando but on different teams</em></p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">I have had the pleasure of working alongside Orlando for the past two years and can attest to his exceptional skills in both managing the IT department and contributing greatly to the marketing team.</p>
                                        <p class="card-text">Orlando is a highly organized and detail-oriented IT professional. He is an excellent problem solver who is always willing to go the extra mile on every project. He is highly adept at troubleshooting and resolving complex technical issues. Orlando is an excellent communicator and collaborator who fosters a positive work environment.</p>
                                            <p class="card-text">Orlando's unique skill set allowed him to effectively contribute to our marketing team, bringing a valuable perspective and technical expertise to our campaigns. He was able to develop and implement innovative solutions that helped improve our overall marketing strategy. Orlando is a fantastic professional who will make a valuable contribution to any organization.</p>
                                    </div>
                                </div>

                                <!-- Sony -->
                                <div class="card" data-aos="fade-right">
                                    <div class="card-header justify-content-center">
                                        <img src="https://storage.googleapis.com/ibuildwebs-public/general/linkedin/linkedin-sony-raymond.jpg" class="rounded-circle" alt="Wilclerson Raymond">
                                        <h3>Wilclerson Raymond</h3>
                                        <h4>Lead E-Commerce &amp; Web Developer</h4>
                                        <p><em>May 6, 2023, Wilclerson reported directly to Orlando</em></p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Orlando is the best! Always looking to improve and elevate his skills. Extremely knowledgeable in various areas from web development to web design, marketing to data analytics and much more. He’s extremely organized/disciplined and is always thinking ahead to avoid roadblocks in the future. Orlando juggles many many tasks at once and still makes time for those in need of his assistance. He’s helped me elevate the way I should approach different tasks. He’s a true leader and I truly appreciate him as an advisor and supervisor!</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <% include partials/contact-cta %>
        <% include partials/footer %>
        <% include partials/footer-scripts %>
    </body>
</html>
