html, body {
    overflow-x: hidden; /* Removes extra space on right side on mobile */
}
.portfolioWrapper .col-lg-6 {
    border-bottom: 2px solid #ccc;
    margin-top: 100px;
    padding-bottom: 100px;
}

.section-header {
    text-align: center;
    margin-bottom: 20px;
}
.centerImage {
    margin: auto;
}
.card-body {
    padding: 10px;
    text-align: center;
}
.skills legend-wrapper h2 {
    font-size: 1.25rem;
    margin-top: 30px;
}
.skills legend-wrapper h3 {
    font-size: 1rem;
}
.portfolio-bullets i {
    font-size: 1.5rem;
}